
.login {
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    padding: 2%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    width: 30%;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.form {
    padding: 1%;
}


.login-row{
    padding: 0 0 10px 0;
}

h2{
    text-align: center;
    font-weight: 600;
}

label {
    font-weight: 600;
}

.button-container{
    width: 100%;
    padding: 0 30%;
}

.login-button{
    width: 100%;
}

.error-block{
    height: 30px;
    padding: 3px ;
    text-align: center;
}
.error-text{
    color: red;
}